@import '../../variables.scss';
@import '../../mixins.scss';

.projectItemBg {
    height: 400px;
    max-width: 330px;
    border-radius: 12px;
    background-size: cover;
    background-position: center center;
}

.projectItem{
    margin: 1em auto;
    max-width: 800px;
    @include desktopLg{
        max-width: 1600px;
    }
}

.projectItemImg{
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
}

.mansonry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    @include tablet{
        justify-content: space-evenly;
    }
}
.item {
    height: 100%;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    font-family: $secondary-font;
    text-transform: capitalize;
}