@import '../../variables.scss';
@import '../../mixins.scss';

.scrollTopBar{
    position: fixed;
    right: 3.5%;
    bottom: 3%;

    @include mobile{
        display: none;
    }
    @include tablet{
        display: block;
    }
    button{
        background-color: rgba(253, 253, 253, 0.3);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-bottom: 2em;
        outline: none;
        @include tablet{
            margin-bottom: 0;
        }
    }
}

.scrollTopBar .fa{
    color: $secondary-blue;
}

.scrollTopBar .fa-a-up{
    font-size: 1.5em; 
}