@import '../../variables.scss';
@import '../../mixins.scss';

.projectsWrapper {
    width: 100vw;
    height: auto;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}