@import '../../variables.scss';

.header{
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 0.3em;
    // margin-top: 0.8em;
    // margin-left: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    img{
        display: flex;
        justify-content: flex-start;
        padding: 0.3em;
        margin-top: 0.8em;
        margin-left: 10%;
        border-radius: 50%;
    }
    ol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
    }
}

@media (min-width: 600px) {
    .header h1{
        margin-left: 20%;
    }
}
@media (min-width: 900px) {
    .header h1{
        margin-left: 30%;
    }
}
/* credit to Ananya Neogi */
:root{
    --primary-color: #111111;
    --primary-alternative-color: #654310;
    --secondary-blue: #2E93EA;
    --secondary-orange: #E65722;
    --font-color: #131313;
    --bg-color: #fff;
    --heading-color: #2b2525;
}

[data-theme="dark"]{
    --primary-color: #111111;
    --primary-alternative-color: #654310;
    --secondary-blue: #2E93EA;
    --secondary-orange: #E65722;
    --font-color: #131313;
    --bg-color: #fff;
    --heading-color: #2b2525;
}

.themeSwitchWrapper{
  display: flex;
  align-items: center;
  
  em{
    margin-left: 10px;
    font-size: 1rem;
  }
}
.themeSwitch{
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.themeSwitch input{
  display: none;
}

.slider{
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before{
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider{
  background-color: #66bb6a;
}

input:checked + .slider:before{
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}