@import '../../variables.scss';

.header{
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 0.3em;
    margin-top: 0.8em;
    display: flex;
    justify-content: flex-start;
    margin-left: 1.5em;
    img{
        display: flex;
        justify-content: flex-start;
        padding: 0.3em;
        margin-top: 0.8em;
        margin-left: 10%;
        border-radius: 50%;
    }
}

@media (min-width: 600px) {
    .header h1{
        margin-left: 20%;
    }
}
@media (min-width: 900px) {
    .header h1{
        margin-left: 30%;
    }
}
