@import '../../variables.scss';
@import '../../mixins.scss';

.mobileMenuContainer{
    z-index:100;
}

.mobileMenu{
    z-index:101;
    @include desktop{
        display: none;
    }
}

.mobileMenu #experiment{
    align-items: normal;
    justify-content: flex-start;
}

.bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    right: 30px;
    @include desktop{
        top: 75px;
        right: 5em;
    }
  }

  #react-burger-menu-btn, #react-burger-cross-btn, .bm-item {
    outline: none;
  }
  
  /*credit to negomi*/
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    right: 40px !important;
    top: 60px !important;
    width: 40px !important;
    height: 40px !important;
    @include desktop{
        top: 75px;
        right: 5em;
    }
    span{
        right: 4px;
    }
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
    width: 4px !important;
    height: 30px !important;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 181px !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    margin-top: 81px;
    text-align: left;
  }
  
  /* Individual item */
  .bm-item {
    margin: 1em auto;
    transform: translate3d(0px, 0px, 0px) !important;
    display:flex !important;
    flex-direction: column;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item:hover{
      color: $secondary-orange
  }