@import '../variables.scss';
@import '../mixins.scss';

.container{
    // max-width: 1100px;
    margin: 0 auto;
    
    @include tablet {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 2em;
    }
    @include desktop {
        // max-width: 850px;
    }
    @include desktopLg{
        max-width: 1500px;
    }
}