@import '../variables.scss';
@import '../mixins.scss';

.container{
    // max-width: 1100px;
    display: flex;
    width: 100%;
    margin: 10em auto 0 auto;
    
    @include tablet {
        // width: 100%;
        height: auto;
        margin: 180px auto 0 auto;
        max-width: 900px;
    }
    @include desktop {
        // max-width: 850px;
        max-width: 1100px;
    }
    @include desktopLg{
        max-width: 1500px;
    }
}

.title{
    width: 100%;
    margin: 2em auto;
    padding: 0 1em;
    font-size: 1em;
    font-weight: 300;
    display: block;
    @include desktop{
        // padding: 0 2em;
        // margin: 0.7em auto;
        font-size: 1.35em;
    }
}

.titlePage{
    display: none;
}

.siteMap{
    font-size: 1em;
    font-weight: 200;
}

.siteMap:active{
    color: $secondary-orange;
}