@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import './variables.scss';

.App {
    background-color: $primary-light-color;
    background-size: 100% 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 600px) {
        background-size: 100% 100%;
    }
}

.middle{
    margin-bottom: 5rem;
}

.namebox{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namebox div{
    display: flex;
    margin-top: 1em;
}

.namebox p{
    color: $text;
    font-size: 0.8em;
}

.mainmenu li{
    padding: 1em;
}

.textbox {
    height: 32px;
    width: 200px;
    border-radius: 3px;
    padding-left: 20px;
}

.submitbox{
    height: 30px;
    width: 30px;
    margin-left: 1.5em;
}

.copyright{
    color: $copyright;
    position: absolute;
    bottom: 0;
    padding:2em;
}

p, a{
    text-transform: uppercase;
    text-shadow:
        -1px -1px 0px #000, 
        0px 1px 0px #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
}