@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import './variables.scss';

.App {
    background-color: $primary-light-color;
    background-size: 100% 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 600px) {
        background-size: 100% 100%;
    }
}

.middle{
    margin-bottom: 5rem;
    display: none;
}

p, a{
    text-transform: uppercase;
}