@import 'variables';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: var(--secondary-blue);
}
ul,
li {
  list-style: none;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}

body {
  // height: 100vh;
  font-family: $main-font;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  background-color:var(--background-color);
  color:var(--color);
}

h2{
    color: $primary-dark-color !important;
    font-size: 1.5em; 
    @media (max-width: 900px) {
        font-size: 1.3em;
    }
    @media (max-width: 600px) {
        font-size: 2em;
    }
}

::-webkit-scrollbar {
  display: none;
}
