$primary-dark-color: rgb(15, 0, 39);
$primary-light-color: rgb(241, 239, 245);

$primary-color: #ec0f0f;
$secondary-color: #182338;
$shadow-color: rgba(80, 80, 80, 0.2);
$white-blue: #e8ebf1;

$dark-blue: #213354;
$light-gray: #707070;
$grey-blue: #9ea7c5; //575e75
$mobile-text: #bdc3d6;
$mobile-text-sub: #b2b0c5;

$link: #fafafa;
$text: #fafafa;

$main-font: "Press Start 2P", cursive;

$copyright: #00d8f8;